
/*----------------------------------------------------------------------*/
/*                            GENERAL                                   */
/*----------------------------------------------------------------------*/

@font-face {
      font-family: 'Helvetica';
      src: url('fonts/Helvetica.ttf') format('truetype');
}
@font-face {
      font-family: 'OpenSans';
      src: url('fonts/OpenSans-Regular.ttf') format('truetype');
      src: url('fonts/OpenSans-SemiBold.ttf') format('truetype');
}
@font-face {
      font-family: 'Questrial';
      src: url('fonts/Questrial-Regular.ttf') format('truetype');
}

:root{
      scroll-behavior: smooth;
      --black:  #443f3f;
      --back: #f2f3f4;
      --white: #fefcfc;  

}
*{
      box-sizing :border-box;
      font-family: 'Questrial', 'OpenSans', Helvetica;
      margin: 0;
      padding: 0;
}


/*----------------------------------------------------------------------*/
/*                            HEADER                                    */
/*----------------------------------------------------------------------*/

header {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: var(--white);
      transition: all 0.3s ease-in;
      box-shadow: 0px 2px 5px var(--black);
}
.hidden-up{
      top: -55px;
}
#navigation{
      width:100%;
      max-width: 1200px;
      padding: 15px 30px;
      margin: 0 auto;
}
header div > nav{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
      align-items: center;
      width: 100%;
}
nav > a{
      color: var(--black);
      text-decoration: none;
      transition: all 0.3s ease-in-out;
}
nav > a:hover{
      color: rgb(255, 94, 94);
      text-decoration: underline;
}
#navigation_show{
      position: fixed;
      position: fixed;
      top: 0;
      right: 0;
}
#menu-spread-arrow{
      background-color: var(--white);
      margin: 8px 8px;
      width: 30px;
      height : 30px;
      border: 1px solid rgb(191, 191, 191);
      border-radius: 50%;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
}
#menu-spread-arrow::before,
#menu-spread-arrow::after{
      content:"";
      display: inline-block;
      height: 12px;
      border:2px solid rgb(189, 189, 189);
      border-radius: 2px;
}
#menu-spread-arrow::before{
      position:relative;
      top: 9.5px;
      left: 9.5px
}
#menu-spread-arrow::after{
      position:relative;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      top: 3.5px;
      left: 11.5px;
}
#menu-spread-arrow:hover,
#menu-spread-arrow:hover::before,
#menu-spread-arrow:hover::after{
      cursor: pointer;
      border-color:var(--black);
}
#menu-spread-arrow:active{
      background-color: var(--back);
}

@media screen and (max-width:900px){
      .hidden-up{
            top: -220px;
      }
      header div > nav{
            flex-direction:column;
            gap: 5px;
            align-items: center;
            height: 100%;
            margin: 10px 0;
      }
}

/*----------------------------------------------------------------------*/
/*                         BACKGROUNDS                                  */
/*----------------------------------------------------------------------*/

.parallax {

      background-image: url('images/laptop.jpg');
      background-attachment: fixed;
      background-position:left;
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode:lighten;
    }


/*----------------------------------------------------------------------*/
/*                            MAIN                                      */
/*----------------------------------------------------------------------*/

main{
      transition: all 0.3s ease-in-out;
      font-size: 20px;
}

.down{
      margin-top: 36px;
}
.scroller{
      position: relative;
      bottom:0px;
      height:36px;
      z-index:-1
}
main > section{
      padding: 40px 0 0 0;
}
main > section:nth-child(even){
      background-color: var(--back);
}
main > section:nth-child(odd){
      background-color: var(--white);
}

.section-content{
      max-width: 1200px;
      margin: 0 auto;
}
h2{
      margin: 20px;
      font-size: 40px;
}
h4{
      margin: 20px;
      font-size: 30px;
}
h5{
      margin: 20px;
}


#prof-list{
      color:rgb(232, 110, 28);
}
/* ----------------------- About me - My tools ----------------------- */
.tools-container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-around;
      align-items: baseline;
      margin-top: 20px;
}
.tools{
      width:80px;
      height:60px;
      text-align: center;
      font-size: 16px;
}
object{
      width: 40px;
}


/* ----------------------- Contacts ----------------------- */
.contacts{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
}
.contacts > div{
      max-width: 30%;
      font-size: 16px;
}
.contacts-icon{
 height: 20px;
}
.contacts p{
      padding: 5px 0;
}
.services-container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
      gap: 20px;
}
.services-container > div{
      width: 280px;
      border: 1px solid black;
      box-shadow: 2px 2px 5px grey;
      padding: 10px;
      font-size: 16px;
}

@media screen and (max-width:1220px){
      .section-content{
            margin: 0 20px;
      }
}
@media screen and (max-width:900px){
      .down{
            margin-top: 220px;
      }
      .scroller{
            bottom: 180px
      }
      .contacts{
            flex-direction: column;
      }
      .contacts > div{
            max-width: 90%;
      }
}
