
main{
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.shadow{
    box-shadow: 2px 2px 5px grey;
}
section .shadow{
    margin:5px;
    width:18.75rem;
}

aside,
section{
margin:0 2px;
}
aside{
   max-width: 15rem;
}

p{
    text-align: left;
    padding: .5rem;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul{
    margin:.5rem;
    padding:0;
}
li{
    list-style: none;
    text-align: left;
    padding: 5px;
    border-bottom: dotted 1px black;
    border-radius: .62rem;
    margin:0;
    background-image: linear-gradient(to right, rgb(183, 250, 255),  white 20%);
    transition: background 0.3s ease;
}
a{
    text-decoration: none;
    color:  rgb(36, 49, 53);
}
li:hover{
    background-image:linear-gradient(to right, rgb(183, 250, 255),  white 30%);
}
