
main{
    text-align: center;
}
.shadow-box{
    box-shadow: 2px 2px 5px grey;
    margin:5px;
    width:15rem;
}

aside h4{
    text-shadow: 1px 1px 3px black;
    color: white;
}

aside,
section{
margin:0 2px;
}

p{
    text-align: left;
    padding: .5rem;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul{
    margin:.5rem;
    padding:0;
}
li{
    list-style: none;
    text-align: left;
    padding: 5px;
    border-bottom: dotted 1px black;
    border-radius: .62rem;
    margin:0;
    background-image: linear-gradient(to right, rgb(183, 250, 255),  white 20%);
    transition: background 0.3s ease;
}
a{
    text-decoration: none;
    color:  rgb(36, 49, 53);
}
li:hover{
    background-image:linear-gradient(to right, rgb(183, 250, 255),  white 30%);
}

@media screen and (max-width: 750px){
    aside.shadow-box{
        margin: auto;
    }

}

@media screen and (min-width: 751px) {
    aside{
        float: right;
    }
    
}
