:root{
		scroll-behavior: smooth;
		font-size: 20px;
	}

*{
	box-sizing: border-box;
	font-family: 'Architects Daughter', cursive;
	margin:0;
	padding:0;
 	}

.container{
	width:1140px;
	margin: 0 auto;
	}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

body{
	background: rgb(244, 244, 214);
	color: black;
	text-align: justify;
	}

header{
	background-image: url("../images/logo-transparent.gif");
	background-size: 5.5rem;
	background-repeat: no-repeat;
	background-position: 2rem 2rem;
	text-align: left;
	}
header h1{
	padding:2rem 0 0 9rem;
	font-size: 3rem;
	font-weight: bold;
	color: #fecb00;
	text-shadow: 1px 1px .2rem #8a8a64;
	margin:0;
	line-height:3rem;
}
header h2{
	padding: 0 0 1rem 9rem;
	color: #514618;
	text-shadow: 1px 1px .2rem #8a8a64;
}

header nav{
	display:flex;
	flex-direction: row;
}

header nav li{
	display:inline-block;
	background: rgba(220, 220, 140, 0.7);
	list-style-type: none;
	width: 5.2rem;
	padding: 0.2rem;
	font-size: .8rem;
	box-shadow: 1px 1px .2rem #514618;
	text-align: center;
}
.mini{
	width:2.5rem;
}
header nav div.col-3{
	text-align: right;
}
header a{
	color:#514618;
}
header li:hover{
	color:#fecb00;
	background-color: #514618;
}

.map{
	text-align: center;
	margin: 2rem auto;
}
.map img{
	box-shadow:2px 2px .5rem #514618;
}





.footer {
	padding: 5px;
	background-color: #000;
	position: bottom;
	clear: both; 
	color: #BB0;
	Font: 10px;
}